<div class="container d-flex justify-content-center flex-wrap  main-poke-list " >
    <div class="row w-100 poke-list-header">
        <app-poke-header></app-poke-header>
        <app-poke-search></app-poke-search>
    </div>
    
    <div class="row w-100">
        
            <ng-template ngFor let-pokemon [ngForOf]="getAllPokemons">
                <div class="col-sm-12 col-md-6 col-lg-4 p-1">

                     <a href="" *ngIf="pokemon.status">

                        <div class="card" 
                                    style="color: black; max-width: 9.    
                                    5rem;">
                            <p class="text-end" style="color: black;" *ngFor="let value of pokemon.status.name">{{value.type.name}}</p>
                            
                            <img class="mt-3
                                        align-self-center" 
                                    [src]="pokemon.status.sprites.other.dream_world.front_default"   
                                    [alt]="pokemon.name">

                            <div class="card-body">
                                <p class="card-text text-center">{{pokemon.name}}</p>
                            </div>
                        </div>

                    </a>
                </div>
            </ng-template>
        </div>
    
</div>