<div class="container d-flex justify-content-center flex-wrap  main-poke-list " >
    <div class="row w-100 poke-list-header">
        <app-poke-header></app-poke-header>
        <app-poke-search></app-poke-search>
    </div>
    <div class="row w-100">
        <div class="col-sm-12 col-md-6 col-lg-4 ">
            <div class="card" style="color: black; max-width: 9.5rem;">
                <p class="text-end">#999</p>
                <img src="assets/pokemon/silhouette.svg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Pokemon Name</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="color: black; max-width: 9.5rem;">
                <p class="text-end">#999</p>
                <img src="assets/pokemon/silhouette.svg" class="card-img-top" alt="assets/pokemon/silhouette.svg">
                <div class="card-body">
                  <p class="card-text">Pokemon Name</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            
            <div class="card" style="color: black; max-width: 9.5rem;">
                <p class="text-end">#999</p>
                <img src="assets/pokemon/silhouette.svg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Pokemon Name</p>
                </div>
            </div>
        </div>
    </div>
</div>