@import '../../../config-scss/rem-calc.scss';

:host{
    form{
  
        input{      
            min-width: 100%;
            background: none;
            border-radius: rem-calc(5);
            background-color: rgba(255,255,255,0.2);
            padding: rem-calc(5) rem-calc(10);

            
        }

        #usr {  
            
            background-image: url('/assets/icons/search.svg');
            background-repeat: no-repeat;
            background-position: left;
            background-size: 1.3em;
            padding-left: rem-calc(23);

            
          }
        
    }
}