<!--<header class="container-fluid  w-100 h-100">
    <img src="assets/pokeball.svg" alt="Logo Pokedex">
    <h1 class="px-5"><strong>Pokedex</strong></h1>
</header>-->

<div class="poke-list-header w-100 d-flex  align-items-center mt-3">
    <div class="img-pokeball">
        <img class="" src="assets/pokeball.svg" alt="Logo Pokedex">
    </div>

    <div class="w-100 p-2 ">
        <h2><strong>Pokédex</strong></h2>
    </div>
    
    <div class="p-2 flex-shrink-1 img-order  ">
         <button class="d-flex align-items-center btn-order">
            <strong >
                a z
            </strong> 
        <img   class="" src="assets/icons/order.svg"  alt="">
    </button>
    </div>
   
    

</div>
