//@import '../../../config-scss/rem-calc.scss';

@import './config-scss/variables.scss';
@import './config-scss/reset.scss';
@import './config-scss/rem-calc.scss';

html{
    font-family: 'Roboto', sans-serif;
    color: var(--white);
    
}

main {
    max-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    padding: rem-calc(45);
    box-sizing: border-box;
    color: var(--white);
    background: var(--primary-color);
    
}